<a href="https://colab.research.google.com/github/esrabs/GOMYCODE1/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from pandas._libs.tslibs.offsets import YearBegin
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

print(df.head(3))

df = pd.DataFrame(exam_data, index=labels)

nameandscoredf = df[['name', 'score']]
print(nameandscoredf)


x = pd.DataFrame({'name': ["Suresh"], 'score': [15.5], 'attempts': [1], 'qualify': ["yes"]}, index=['k'])
print(pd.concat([df, x]))


y = df.drop('attempts', axis=1)
print(y)


df['Success'] = (df['score'] > 10).astype(int)
print(df)


df.to_csv('my_data.csv')
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
        name  score  attempts qualify  Success
a  Anastasia   12.5         1     yes        1
b       Dima    9.0         3      no        0
c  Katherine   16.5         2     yes        1
d      James    NaN         3      no        0
e      Emily    9.0         2      no        0
f    Michael   20.0         3     yes        1
g    Matthew   14.5         1     yes        1
h      Laura    NaN         1      no        0
i      Kevin    8.0         2      no        0
j      Jonas   19.0         1     yes        1
        name  score  attempts qualify  Success
a  Anastasia   12.5         1     yes        1
b       Dima    9.0         3      no        0
c  Katherine   16.5         2     yes        1
d      James    NaN         3      no        0
e      Emily    9.0         2      no        0
f    Michael   20.0         3     yes        1
g    Matthew   14.5         1     yes        1
h      Laura    NaN         1      no        0
i      Kevin    8.0         2      no        0
j      Jonas   19.0         1     yes        1